
body {
    padding: 0;
    margin: 0;
    display: block;
    // flex-direction: column;
    height: 100vh;
    background-color: #222;
    color: #fff;
}

header {
    padding: 1em;
    overflow: hidden;
    background-color: #1e1e1e;
    border-bottom: 1px solid #444444;
}

// VS Code likes putting outlines on buttons, we don't want them
select:focus,
button:focus,
input:focus {
    outline: none;
}
select,
button {
    box-sizing: border-box;
    vertical-align: top;
    border: 0;
    border-radius: 2px;
    background: #aaaaaa;
}

button {
    padding: 4px 10px;
    height: 24px;
}

#programStates {
    padding: 0;
    height: 60px;
}

select:hover:not(:disabled),
button:hover:not(:disabled) {
    background: #dddddd;
    cursor: pointer;
}

#nav {
    height: 80px;

    div#navRight {
        float: right;
    }
}

#constraintsBlock input {
    width: 90%;
    background-color: #aaaaaa;
    border: none;
    border-radius: 2px;
    height: 24px;
    padding: 0 4px;
    font-family: monospace;
}

#toggleExecutionRecords {
    margin-left: 0.5em;
    //color: #444444;
    font-weight: normal;
}

#toggleExecutionRecords:before {
    content: " ["
}

#toggleExecutionRecords::after {
    content: "]"
}

#toggleExecutionRecords:hover {
    cursor: pointer;
    text-decoration: underline;
}

pre.json {
    padding: 1em;
    border-radius: 2px;
}

#graphPanel {
    margin: 0;
    padding: 0;
    background: transparent;
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200pt;
    width: 100%;
}

#graph {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    svg {
        width: 100%;
        height: 100%;
    }
}


div.graphMessage {
    margin: auto;
    font-size: 5vh;
    //color: #444444;
}

.noScroll {
    overflow: hidden;
}

.scroll {
    overflow: auto;
}

.panel > * {
    margin: 14px;
}

h3 {
    background: #222222;
}

.gutter.gutter-vertical {
    // background: #303030;
    background-color: #dddddd;
    cursor: row-resize;
}

.gutter:hover,
.gutter.dragged
 {
    background: #aaaaaa;
 }

 #diagnostics > section {
   //background: #1e1e1e; 
   padding: 1em;

//    > *:first-child { margin-top: 0; }
//    > *:last-child { margin-bottom: 0; }
 }
 .hide {
     display: none;
 }